<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>대학만렙</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/timetable.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/nav.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/pnotify.custom.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="modal fade" id="timetableSetting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">시간표 설정</h4>
          </div>
          <div class="modal-body">
            <p>
              <label class="title">이름</label>
              <input type="text" id="title" class="form-control" v-model="title">
            </p>
            <p>
              <label class="title">공개여부</label>
              <label class="public"><input type="radio" name="public" v-model="public" value="public">전체공개</label>
              <label class="public"><input type="radio" name="public" v-model="public" value="friend">친구공개</label>
            </p>
            <p>
              <label class="title">기본설정</label>
              <input type="checkbox" v-model="isPrimary" v-attr="disabled:disabled">기본 시간표 설정
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" id="timetableSettingSave" class="btn btn-info">저장</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Menu -->
    <% include nav %>
    <!-- Menu End-->
    <!-- Aside -->
    <aside id="aside">
      <div class="title" v-style="display:title_display">
        <h2>
          {{aside_title}}
          <ul class="buttons">
            <li data-toggle="tooltip" title="설정"><button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#timetableSetting"><span class="glyphicon glyphicon-cog"></span></button></li>
            <li data-toggle="tooltip" title="삭제" v-show="remover" v-on="click:remove()"><button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button></li>
          </ul>
        </h2>
      </div>
      <div class="information">
        <ul>
          <li v-show="primary">기본 시간표</li>
          <li>{{public}}</li>
          <li><a v-attr="href:information_link_href">http://daeman-202211.apne1.nitrousbox.com/timetable</a></li>
        </ul>
      </div>
      <ol class="list">
        <li v-repeat="lists" v-class="current"><a v-on="click:select($index)">{{name}}</a></li>
        <li v-show="adder"><a v-on="click:add()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 시간표 추가하기</a></li>
      </ol>
    </aside>
    <!-- Aside End-->
    <!-- Content -->
    <div class="content">
      <div class="main">
        <table class="table table-bordered tablehead">
          <tbody>
            <tr>
              <th></th>
              <td v-repeat="head">{{day}}
                <div class="grids">
                  <div class="grid" v-repeat="grid" v-style="top:top, height:height">
                    <div class="subject" v-on="mouseover:mouseover(this), mouseout:mouseout(this)" v-attr="data-start:start, data-end:end" v-style="background-color:color">
                      <ul class="status" v-style="display:status">
                        <li data-toggle="tooltip" title="수정" v-on="click:edit(this)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></li>
                        <li data-toggle="tooltip" title="삭제" v-on="click:del(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></li>
                      </ul>
                      <h3>{{subject}}</h3>
                      <p>
                        <em>{{professor}}</em>
                        <span>{{description}}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered tablebody">
          <tbody>
            <div class="column"></div>
            <tr v-repeat="class">
              <th>{{time}}</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div id="addsubject" v-show="display">
          <button type="button" class="close" data-dismiss="addsubject"><span aria-hidden="true">×</span></button>
          <h2>{{title}}</h2>
          <dl>
            <dt>과목</dt>
            <dd><input type="text" class="form-control" v-model="subject" placeholder="과목명" required autofocus></dd>
            <dt>교수</dt>
            <dd><input type="text" class="form-control" v-model="professor" placeholder="교수명"></dd>
            <dt>요일/시간</dt>
            <dd>
              <div class="time" v-repeat="time">
                <ul class="week">
                  <li v-repeat="week" v-attr="class:active" v-on="click:select(this, $index)">{{day}}</li>
                  <button type="button" class="close remove" v-on="click:remove(this)" v-show="remover"><span aria-hidden="true">×</span></button>
                  <div class="form-inline">
                    <div class="form-group">
                      <select class="form-control starthour" v-model="starthour_selected" v-on="click:updatehour(this)" v-class="'sh' + $index">
                        <option value="오전 9시">오전 9시</option>
                        <option value="오전 10시">오전 10시</option>
                        <option value="오전 11시">오전 11시</option>
                        <option value="오후 12시">오후 12시</option>
                        <option value="오후 1시">오후 1시</option>
                        <option value="오후 2시">오후 2시</option>
                        <option value="오후 3시">오후 3시</option>
                        <option value="오후 4시">오후 4시</option>
                        <option value="오후 5시">오후 5시</option>
                        <option value="오후 6시">오후 6시</option>
                        <option value="오후 7시">오후 7시</option>
                        <option value="오후 8시">오후 8시</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="form-control startminute" v-model="startminute_selected" v-class="'sm' + $index">
                        <option value="0분">0분</option>
                        <option value="30분">30분</option>
                      </select>
                    </div>
                    <span>~</span>
                    <div class="form-group">
                      <select class="form-control endhour" v-model="endhour_selected" v-class="'eh' + $index">
                        <option value="오전 9시">오전 9시</option>
                        <option value="오전 10시">오전 10시</option>
                        <option value="오전 11시">오전 11시</option>
                        <option value="오후 12시">오후 12시</option>
                        <option value="오후 1시">오후 1시</option>
                        <option value="오후 2시">오후 2시</option>
                        <option value="오후 3시">오후 3시</option>
                        <option value="오후 4시">오후 4시</option>
                        <option value="오후 5시">오후 5시</option>
                        <option value="오후 6시">오후 6시</option>
                        <option value="오후 7시">오후 7시</option>
                        <option value="오후 8시">오후 8시</option>
                        <option value="오후 9시">오후 9시</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="form-control endminute" v-model="endminute_selected" v-on="click:updateminute(this)" v-class="'em' + $index">
                        <option value="0분">0분</option>
                        <option value="30분">30분</option>
                      </select>
                    </div>
                  </div>
                </ul>
              </div>
              <button class="new btn btn-xs btn-success" v-on="click:newtime"><span class="glyphicon glyphicon-plus"></span> 새 시간</button>
            </dd>
            <dt>장소(설명)</dt>
            <dd><input type="text" class="form-control" v-model="description" placeholder="장소/설명"></dd>
          </dl>
          <div class="submit"><button type="button" v-on="click:subjectSave" class="btn btn-info">저장</button></div>
        </div>
        <div class="adder"><button class="newsubject btn btn-lg btn-info" type="button"><span class="glyphicon glyphicon-plus"></span></button></div>
      </div>
    </div>
    <!-- Content End-->
    <!-- js load -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.3.4.min.js"></script>
    <script src="http://vuejs.org/js/vue.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
    <script src="/javascripts/pnotify.custom.js"></script>
    <script src="/javascripts/nav.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"></script>
    <script src="http://sugarjs.com/release/current/sugar.min.js"></script>
    <script src="/javascripts/timetable.js"></script>
    <!-- End -->
    <script>
      nav.menus[4].active = 'active';
    </script>
  </body>
</html>