body {
  background-color: #b5afaf;
}
ul {
  list-style-type: none;
}
a:hover{
  text-decoration: none;
}

aside{
  position: fixed;
  border: 1px solid #cec4c2;
  border-width: 0 1px 0 0;
  z-index: 0;
  top: 80px;
  width: 350px;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}
aside div.title {
  margin: 20px;
  line-height: 30px;
  overflow: hidden;
}
aside div.title h2{
  color: #4ca2f7;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside ol.list {
  border-top: 1px solid #ede4e2;
  padding: 0;
}

aside ol.list li a{
  display: block;
  padding: 0 25px;
  border-bottom: 1px solid #ede4e2;
  border-width: 1px 0;
  height: 39px;
  line-height: 39px;
  color: #bda9a6;
  font-size: 12px;
  font-weight: bold;
  background-color: #fbf9f9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside ol.list li a:hover {
	color: #333;
  background-color: #ede4e2;
}

.content{
  position: absolute;
  margin: 20px;
  left: 350px;
  top: 80px;
}
.content div.main{
  display: block;
  width: 860px;
}
.content div.main div.boards a.board .type{
  color: #999;
  font-size: 15px;
  left: 13px;
  top: 14px;
  float: left;
}
.content div.main div.boards a.board h2{
  margin: 0;
  padding: 0 15px 0 35px;
  border-bottom: 1px solid #e7eaeb;
  height: 40px;
  line-height: 40px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
.content div.main div.boards a.board {
  display: block;
  margin-bottom: 5px;
  border: 1px solid #c5ced0;
  background-color: #fff;
}
.content div.main div.boards a.board article {
  overflow: hidden;
  padding: 25px;
}
.content div.main div.boards a.board article img.picture {
  float: left;
  overflow: hidden;
  width: 64px;
  height: 64px;
}
.content div.main div.boards a.board article p {
  clear: right;
  float: right;
  width: 720px;
  max-height: 54px;
  line-height: 20px;
  color: #666;
  font-size: 13px;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 0;
}
.content div.main div.boards a.board article ul.status {
  clear: right;
  float: right;
}
.content div.main div.boards a.board article ul.status li {
  float: left;
  margin-left: 10px;
  padding: 4px 0 0 10px;
  height: 11px;
  line-height: 11px;
  color: #999;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}
.content div.main div.boards a.board article ul.status li.like.active {
  color: #e57766;
}
.content div.main div.boards a.board article ul.status li.comment.active {
  color: #449d44;
}
/* 게시물 */
.content div.main div.articles article {
  margin-bottom: 5px;
  border: 1px solid #c5ced0;
  background-color: #fff;
  padding: 25px;
  overflow: hidden;
}
.content div.main div.articles article img.picture {
  float: left;
  overflow: hidden;
  width: 64px;
  height: 64px;
}
.content div.main div.articles article h3{
  clear: right;
  float: right;
  width: 720px;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
}
.content div.main div.articles article p {
  clear: right;
  float: right;
  width: 720px;
  max-height: 300px;
  line-height: 20px;
  color: #666;
  font-size: 13px;
  word-break: break-all;
  white-space: normal;
  overflow: auto;
  margin-bottom: 0;
}
.content div.main div.articles article ul.status {
  clear: right;
  float: right;
}
.content div.main div.articles article ul.status li {
  float: left;
  margin-left: 10px;
  padding: 4px 0 0 10px;
  height: 11px;
  line-height: 11px;
  color: #999;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}
.content div.main div.articles article ul.status li.like.active {
  color: #e57766;
}
.content div.main div.articles article ul.status li.comment.active {
  color: #449d44;
}
.content div.main div.articles article time {
  clear: right;
  float: right;
  width: 720px;
  color: #999;
  font-size: 11px;
  letter-spacing: 0;
}
/* 코멘트 */
.content div.main div.articles div.comments {
  margin: 0 -10px -10px -10px;
  padding-top: 10px;
  clear: both;
}
.content div.main div.articles div.comments article {
  margin: 0;
  border: 0;
  border-top: 1px solid #e7eaeb;
  background-color: #fff;
  padding: 10px;
  overflow: hidden;
}
.content div.main div.articles div.comments article img.picture {
  margin-left: 16px;
  float: left;
  overflow: hidden;
  width: 48px;
  height: 48px;
}
.content div.main div.articles div.comments article h4{
  clear: right;
  float: right;
  width: 720px;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
}
.content div.main div.articles div.comments article p {
  clear: right;
  float: right;
  width: 720px;
  max-height: 300px;
  line-height: 20px;
  color: #666;
  font-size: 13px;
  word-break: break-all;
  white-space: normal;
  overflow: auto;
  margin-bottom: 0;
}
.content div.main div.articles div.comments article time {
  clear: right;
  float: right;
  width: 720px;
  color: #999;
  font-size: 11px;
  letter-spacing: 0;
}
.content div.main div.articles div.comments article ul.status {
  margin-top: -15px;
  clear: both;
  float: right;
}
.content div.main div.articles div.comments article ul.status li {
  float: left;
  margin-left: 10px;
  padding: 4px 0 0 10px;
  height: 11px;
  line-height: 11px;
  color: #999;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}
/* 게시물 작성 */
.content div.main div.writebox {
  overflow: hidden;
  margin-bottom: 5px;
}
.content div.main div.writebox textarea {
  width: 821px;
  resize: none;
}
/* 코멘트 작성 */
.content div.main div.comments div.writebox {
  overflow: hidden;
  margin: 0px;
}
.content div.main div.comments div.writebox textarea {
  width: 796px;
  resize: none;
}

#svg{
  width: 54px;
  height: 54px;
}